:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #e6196b;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}
/*Estilos globales*/
html{
    font-size: 62.5%; /*Hacer que rem = 10px*/
    box-sizing: border-box; /*Evitar que paddings y margins cambien el tamaño de los elementos*/
}
*,*::after,*::before{ /*Evitar que paddings y margins cambien el tamaño de los elementos*/
    box-sizing: inherit; 
}

body{
    font-size: 16px; /*Hacer que rem = 10px*/
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

.sombra{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/*Titulos*/
h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}
 
h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}


.contenedor{
    max-width: 120rem;
    margin:0 auto 0 auto;
}

.boton{
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}

/*Titulo principal*/
.titulo span{
    font-size: 2rem;
}

.nav-bg{
    background-color: var(--primario);
}

/*Navegacion del sitio*/
.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 720px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-around;
    }
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--secundario);
}

/*Imagen de fondo*/
.diseño{
    background-image: url(../img/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-diseño{
    position: absolute;
    background-color: rgb( 0 0 0 / 70%) ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido-diseño h2, .contenido-diseño p{
    color: var(--blanco);
}

/*Columnas servicios*/
@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.servicio h3{
 color: var(--secundario);
 font-weight: normal;
}

.servicio p{
    line-height: 2; /*Interlineado*/
    text-align: center;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}